<section class="top-section">
  <app-header></app-header>
  <div class="pt-32 sm:pt-40">
    <h1 class="z-50 sm:text-4xl text-2xl text-center text-white font-[Mukta] ml2">Storytelling in Animation</h1>
  </div>
</section>

<section class="search-section">
  <app-searchbar (postID)="fetchPostById($event)" class="col-span-12 lg:col-span-10 md:col-span-8"></app-searchbar>
  <div class="flex justify-end col-span-12 py-2 sm:py-0 sm:inline-block lg:col-span-2 md:col-span-4">
    <app-date-filter (filterByDate)="fetchPostsByDateRange($event)"></app-date-filter>
    <app-sort (sortStr)="sortPostsInOrder($event)" class="mx-3"></app-sort>
  </div>
</section>

<section class="post-section">
  <ng-container *ngFor="let post of (posts$ | async)?.data?.slice(0, 1); let i = index; trackBy: trackByFn">
    <ng-container *ngIf="!(showSpinner$ | async) || (posts$ | async)?.data?.length > 0">
      <ng-container *ngIf="(isSearched$ | async) || (dateFilterApplied | async)">
        <div class="flex justify-end pb-3">
          <button
            tuiButton
            type="button"
            class="text-xs"
            (click)="clearSearch()"
            appearance="accent"
            size="s"
          >
            Clear Filters
          </button>
        </div>
      </ng-container>
      <app-top-post
        [post]="post"
        [showOptions]="(user && user.isWriter && (user.username == post.author || user.firstName == post.author)) ?? false"
        (editPost)="editPost($event)"
        (deletePost)="openDeleteDialog($event)"
      >
      </app-top-post>
    </ng-container>
  </ng-container>
  <app-top-post-skeleton *ngIf="(showSpinner$ | async)"></app-top-post-skeleton>

  <ng-container *ngIf="(posts$ | async)?.data?.length == 0">
    <div *ngIf="(isSearched$ | async) || (dateFilterApplied | async)" class="flex justify-end pb-3">
      <button
        tuiButton
        type="button"
        class="text-xs"
        (click)="clearSearch()"
        appearance="accent"
        size="s"
      >
        Clear Filters
      </button>
    </div>
    <div class="flex flex-col items-center justify-center w-full pb-12 align-middle">
      <img ngSrc="../../../../assets/No_data.svg" alt="not_found_icon" width="400" height="400">
      <span class="font-semibold text-[#C077C8] text-lg">It seems there's nothing to be found here!!</span>
    </div>
  </ng-container>

  <div class="grid grid-cols-1 lg:grid-cols-2 1.5xl:grid-cols-3 gap-4 py-5">
    <ng-container *ngFor="let post of (posts$ | async)?.data; let i = index; trackBy: trackByFn;">
      <ng-container *ngIf="!(showSpinner$ | async)">
        <app-blog-post
          *ngIf="i > 0"
          [post]="post"
          [showOptions]="(user && user.isWriter && (user.username == post.author || user.firstName == post.author)) ?? false"
          (editPost)="editPost($event)"
          (deletePost)="openDeleteDialog($event)"
        >
        </app-blog-post>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="(showSpinner$ | async)">
      <ng-container *ngFor="let arr of Arr(3).fill(1)">
        <app-blog-post-skeleton class=""></app-blog-post-skeleton>
      </ng-container>
    </ng-container>
  </div>
</section>

<div *ngIf="(posts$ | async)?.totalCount > 0" class="flex justify-center pt-10 pb-6">
  <tui-pagination
    [length]="floorNumber((posts$ | async)?.totalCount/ limit)"
    [index]="index"
    (indexChange)="goToPage($event)"
  >
  </tui-pagination>
</div>

<ng-template
  #template
  let-observer
>
  <div class="dialog-header">
    <h3>Are you sure you want to delete this post?</h3>
  </div>
  <div class="dialog-content">
    <button
    tuiButton
    type="button"
    appearance="secondary-destructive"
    size="m"
    class="tui-space_right-3"
    (click)="observer.complete()"
  >
    On second thought...
  </button>
  <button
    tuiButton
    type="button"
    appearance="secondary"
    size="m"
    (click)="observer.complete(); deletePost()"
  >
    Do It!
  </button>
  </div>
</ng-template>

