<section class="top-section">
  <app-header></app-header>
  <div class="pt-32 sm:pt-40">
    <h1 class="z-50 sm:text-4xl text-2xl text-center text-white font-[Mukta]">Storytelling techniques in Animation</h1>
  </div>
</section>

<section class="search-section">
  <app-searchbar class="col-span-12 lg:col-span-10 md:col-span-8"></app-searchbar>
  <div class="flex justify-end col-span-12 py-2 sm:py-0 sm:inline-block lg:col-span-2 md:col-span-4">
    <app-date-filter></app-date-filter>
    <app-sort class="mx-3"></app-sort>
  </div>
</section>

<tui-scrollbar class="max-h-full lg:max-h-140 post-section">
  <section>
    <app-top-post></app-top-post>
    <div class="grid grid-cols-1 lg:grid-cols-2 1.5xl:grid-cols-3 gap-4 py-5">
      <ng-container *ngFor="let arr of Arr(num).fill(1)">
        <app-blog-post></app-blog-post>
      </ng-container>
    </div>
  </section>
</tui-scrollbar>
