<section class="relative w-full h-screen">
    <app-blurhash
        [blurHash]="'L8CrZD~S5T^hIWE3IqRR0459^hxF'"
        [imageSrc]="'../../../../assets/login_bg.png'"
        class="object-cover w-full h-full bg-no-repeat"
    >
    </app-blurhash>
    <div class="absolute left-0 right-0 mx-auto top-44 w-88 sm:w-128 rounded-xl backdrop-blur-lg">
      <div class="flex flex-col items-center justify-center py-4">
        <div class="p-4 bg-white rounded-full">
          <img class="w-14 h-14" src="../../../../assets/login-svg.svg" alt="login-svg">
        </div>
        <span class="pt-2 text-xl font-bold text-white font-['Milonga']">Sign In</span>
      </div>
      <form [formGroup]="loginForm" class="px-10">
        <div class="pb-3">
          <tui-input
            formControlName="email"
            [tuiTextfieldCleaner]="true"
          >
          Type your email&nbsp;
          <span class="tui-required"></span>
          <input
            tuiTextfield
            placeholder="mail@email.com"
            type="email"
          />
          </tui-input>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Please provide an email address to login',
            control: f['email']
          }">
          </ng-container>
        </div>
        <div class="pb-8">
          <tui-input-password formControlName="password">
            Type your Password&nbsp;
            <span class="tui-required"></span>
            <input
              tuiTextfield
              placeholder="Password"
            />
          </tui-input-password>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Please provide a password to login',
            control: f['password']
          }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Password should be at least 8 characters',
            control: f['password']
          }">
          </ng-container>
        </div>

        <div class="flex justify-center pb-4">
          <button
            tuiButton
            type="button"
            [showLoader]="(isSigningIn | async)!"
            [disabled]="loginForm.invalid"
            [ngClass]="loginForm.invalid ? 'opacity-50 cursor-not-allowed': 'opacity-100 cursor-pointer'"
            (click)="submitLogin()"
          >
          Sign In
        </button>
        </div>
      </form>
    </div>
</section>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="font-semibold text-red-600 fv-help-block text-xxs 2xl:text-xs" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

