<div class="flex flex-col w-full bg-white shadow-xl">
  <div class="w-full h-56 xs:h-70 sm:h-96 md:h-100 lg:h-80">
    <app-blurhash
      [blurHash]="blurhash"
      [imageSrc]="coverImage"
      [height]="400"
      [width]="400"
      class="object-cover w-full h-full"
    >
    </app-blurhash>
  </div>
  <article class="w-full px-4 py-3">
    <h2 class="text-3xl font-semibold">{{postTitle}}</h2>
    <p class="my-3 text-base font-medium text-gray-600">
      {{postSubtitle}}
    </p>
    <div class="flex justify-start mb-3">
      <tui-avatar
        [text]="author"
        size="l"
        class="mr-3 tui-space_top-1"
        [rounded]="true"
      ></tui-avatar>
      <div class="flex flex-col pb-2 my-1">
        <p class="my-2">{{author}}</p>
        <p>{{createdAt | date: 'medium'}}</p>
      </div>
    </div>
  </article>
</div>
