<span (tuiActiveZoneChange)="onActiveZone($event)">
  <button
    tuiIconButton
    type="button"
    icon="tuiIconCalendarLarge"
    appearance="secondary"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open"
    [tuiDropdownDirection]="'bottom'"
    (click)="toggleDropdown()"
    title="Filter by date range"
    class="w-14 h-14"
  ></button>

</span>

<ng-template #dropdownContent>
  <tui-calendar
    [value]="value"
    [showAdjacent]="false"
    [maxViewedMonth]="firstMonth"
    [month]="firstMonth"
    [(hoveredItem)]="hoveredItem"
    (monthChange)="onMonthChangeFirst($event)"
    (dayClick)="onDayClick($event)"
  ></tui-calendar>
</ng-template>
