<span (tuiActiveZoneChange)="onActiveZone($event)">
  <button
    tuiIconButton
    type="button"
    icon="tuiIconCalendarLarge"
    appearance="secondary"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open"
    [tuiDropdownDirection]="'bottom'"
    (click)="toggleDropdown()"
    title="Filter by date range"
    class="w-14 h-14"
    [showLoader]="(blogService.dateSorting | async)!"
  ></button>

</span>

<ng-template #dropdownContent>
  <tui-calendar
    [value]="value"
    [showAdjacent]="false"
    [month]="firstMonth"
    [(hoveredItem)]="hoveredItem"
    (monthChange)="onMonthChangeFirst($event)"
    (dayClick)="onDayClick($event)"
  ></tui-calendar>
  <div class="pb-2 text-center">
    <button
      tuiButton
      type="button"
      appearance="secondary"
      class="tui-space_right-3 tui-space_left-3"
      size="m"
      (click)="filterPostByDateRange()"
    >
      Filter by date range
    </button>
  </div>
</ng-template>
