<form class="flex justify-between">
  <tui-input
    [formControl]="searchControl"
    [tuiTextfieldCleaner]="true"
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    *tuiLet="(posts$ | async)?.data as posts"
    [tuiDropdownDirection]="'bottom'"
    class="w-full mr-2"
  >
    Search by post title
  <input
    tuiTextfield
    type="text"
  />
  <tui-data-list *tuiDataList>
    <button
      *ngFor="let post of posts"
      tuiOption
      [value]="post.blogTitle"
      (click)="onSelected(post)"
    >
      {{ post.blogTitle }}
    </button>
  </tui-data-list>

  </tui-input>
  <button
    tuiIconButton
    [showLoader]="(showSpinner$ | async)!"
    type="submit"
    icon="tuiIconSearchLarge"
    appearance="secondary"
    class="w-14 h-14"
    title="Search"
    (click)="fetchPostByID('')"
  ></button>
</form>
