<ul #navbar class="px-28 font-[Mukta] py-8 bg-transparent text-white z-50 fixed w-screen sm:block hidden horizontal" (scroll)="onScroll()">
  <li class="uppercase">Animetography</li>
  <li class="float-right clear-both">
    <div class="float-right">
      <li routerLink="/view-posts" class="mx-5">Home</li>
      <li class="mx-5"><a href="https://www.youtube.com/@animetographyblogarchive9852" target="_blank">YouTube</a></li>
      <li routerLink="/auth/login" class="ml-5">Login</li>
    </div>
  </li>
</ul>

<div class="fixed block top-4 left-4 sm:hidden" (tuiActiveZoneChange)="toggle($event)">
  <img
    (click)="toggle(true)"
    ngSrc="../../../../assets/burger_menu.webp"
    width="42"
    height="42"
    class="cursor-pointer invert"
    alt="yummy_burger"
  >

    <div *tuiSidebar="open" class="h-screen bg-gradient-to-br from-zinc-900 to-slate-900">
      <ul class="px-10 font-[Mukta] py-8 text-white vertical">
        <li class="uppercase">Animetography</li>
        <div class="py-12">
          <li routerLink="/view-posts" class="my-5">Home</li>
          <li class="my-5"><a href="https://www.youtube.com/@animetographyblogarchive9852" target="_blank">YouTube</a></li>
          <li routerLink="/auth/login" class="my-5">Login</li>
        </div>
      </ul>
    </div>
</div>
