/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.is-invalid {
  @apply border-2 border-red-500 border-spacing-1
}

.is-valid {
  @apply border-2 border-green-500 border-spacing-1
}

.top-section {
  @apply w-screen h-68 sm:h-88 bg-[url('src/assets/navbar_bg.webp')] bg-no-repeat bg-cover bg-top;
}

.post-section {
  @apply lg:mx-20 md:mx-10 mx-2 mb-5 py-4;
}

.dialog-header {
  @apply pb-3 border-b-2 border-gray-200 text-center font-semibold text-xl;
}

.dialog-content {
  @apply pt-7 text-center;
}

.ck.ck-content ul, ol, menu {
  padding: 20px!important;
}

.ck.ck-content h1 {
  font-size: 2.125rem!important;
  font-weight: 600!important;
}

.ck.ck-content h2 {
  font-size: 1.875rem!important;
  font-weight: 600!important;
}

.ck.ck-content h3 {
  font-size: 1.5rem!important;
  font-weight: 600!important;
}

.ck.ck-content h4 {
  font-size: 1.25rem!important;
  font-weight: 500!important;
}
.ck.ck-content h5 {
  font-size: 1.125rem!important;
  font-weight: 500!important;
}

.ck.ck-content h6 {
  font-size: 1rem!important;
  font-weight: 500!important;
}

// headings
h1 {
  font-size: 2.125rem!important;
  font-weight: 600!important;
}

h2 {
  font-size: 1.875rem!important;
  font-weight: 600!important;
}

h3 {
  font-size: 1.5rem!important;
  font-weight: 600!important;
}

h4 {
  font-size: 1.25rem!important;
  font-weight: 500!important;
}
h5 {
  font-size: 1.125rem!important;
  font-weight: 500!important;
}

h6 {
  font-size: 1rem!important;
  font-weight: 500!important;
}

ul, ol, menu {
  padding: 20px!important;
  list-style-type: inherit!important;
}
